<div id="tid-bar">
  <a class="button" routerLink="/login" i18n="Top-bar button to the login page@@app.loginNav">Sign in</a>
</div>
<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>
<div class="content">
  <div>
    <h1 i18n="Announcement section heading@@app.announcementsHeading">Announcements</h1>
    <article>
      <p i18n="Annoucement welcoming users@@app.firstAnnouncement">
        Welcome!<br/>
        Eternal-Twin is a project aiming to save the games by Motion-Twin.
      </p>
    </article>
  </div>
</div>
<footer>
  <div class="languages">
    <a lang="de-DE" href="?l=de">Deutsch</a> -
    <a lang="en-US" href="?l=en">English</a> -
    <a lang="eo" href="?l=eo">Esperanto</a> -
    <a lang="es-SP" href="?l=es">Español</a> -
    <a lang="fr-FR" href="?l=fr">Français</a>
  </div>
</footer>
