<div class="flag" [class]="type">
  <img *ngIf="!type" src="assets/icons/announce.png">
  <h2 *ngIf="type == 'mod'" i18n="Header for the Moderation flag message@@socials.modMessageHeader"><img src="assets/icons/warning.png">Message from a moderator</h2>
  <h2 *ngIf="type == 'admin'" i18n="Header for the Admin flag message@@socials.adminMessageHeader"><img src="assets/icons/adminAnnounce.png">Official message from an administrator</h2>
  <ng-content></ng-content>
</div>
