@use "sass:math";

/* --- GAMES BOXES --- */

article.game {
  display: flex;
}

article.game:hover,
article.game:active,
article.game:focus,
article.game:focus-within {
  article.tridiv {
    .face {
      box-shadow: inset 0 0 8px 0 rgba(255, 255, 255, 0.8);

      &.ft:before {
        background-position: 70% 100%, center;
      }
    }

    .scene {
      transform:rotateX(-12deg) rotateY(34deg);
    }
  }
}



/* --- MOBILE CONTENT --- */


@media only screen and (max-width: math.div($desktopBreakpoint, 2)) {
  article.game {
    flex-direction: column;
  }
}
