<div class="body">
  <div id="tid-bar"></div>
  <header>
    <h1>Eternal-Twin</h1>
  </header>
  <div class="content">
    <div>
      <h1 i18n="Announcement section heading@@app.announcementsHeading">Announcements</h1>
      <article>
        <p>
          Welcome!<br/>
          Eternal-Twin is a project aiming to save the games by Motion-Twin.
        </p>
      </article>
    </div>
  </div>
  <footer>
    <p>Translations will be available very soon.</p>
    <div class="languages">
      <a lang="de-DE" href="/?l=de">Deutsch</a> -
      <a lang="en-US" href="/?l=en">English</a> -
      <a lang="es-SP" href="/?l=es">Español</a> -
      <a lang="eo" href="/?l=eo">Esperanto</a> -
      <a lang="fr-FR" href="/?l=fr">Français</a>
    </div>
  </footer>
</div>
